<!DOCTYPE html>
<html>
<head>
  <title>jBox</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet">
  <link rel="shortcut icon" href="/images/favicon.ico"/>
  <link href='https://fonts.googleapis.com/css?family=Oxygen:400,700,300' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script src="/javascripts/login.js"></script>
  <script>

  </script>
</head>

<body ng-app="login" ng-controller="LoginCtrl" style="overflow:hidden">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#" style="font-size:35px; padding-left:50px;"><b>jBox</b></a>
      </div>
    </div><!--/.container-fluid -->
  </nav>

  <div class="row" style="padding-top:50px;">
      <div class="col-md-8 col-md-offset-5">
    <p style="font-size:60px; font-family:Oxygen;">
      <b>jBox</b>
    </p>
    </div>
  </div>
  <div class="row">
      <div class="col-md-8 col-md-offset-3">
    <p style="font-size:40px;">Easily share and annotate screenshots</p>
    </div>
  </div>

  <div class="row" style="padding-top:40px;">
    <div class="col-md-2 col-md-offset-2" style="padding-top:60px">
      <p style="font-size:35px;">Download the program here!</p>
  <button type="button" class="btn btn-info">Download</button>

    </div>

    <form ng-submit="submit()">
      <div class="col-md-4 col-md-offset-1">
      <p style="font-size:25px; padding-bottom:10px;">Login</p>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2" style="padding-right:60px;">username</span>
          <input type="text" class="form-control" placeholder="username" aria-describedby="basic-addon2" ng-model="username">
        </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2" style="padding-right:62px;">password</span>
          <input type="password" class="form-control" placeholder="enter password" aria-describedby="basic-addon2" ng-model="password">
        </div>
          </div>
      <button type="submit" class="btn btn-primary" >Login</button></a>

      <p ng-show="error === true" style="font-size:20px; padding-top:10px; color:red;"> {{ errorMessage }} </p>

    </form>
  </div>
  </div>


      

</body>

</html>



